# Configuration de la base de données
MONGODB_URI=mongodb://localhost:27017/tirelire

# Configuration du serveur
PORT=8000
NODE_ENV=development

# Configuration JWT
JWT_SECRET=1J2E9s199oSNGG2Px
JWT_EXPIRES_IN=30d

# Configuration Email (Gmail)
EMAIL_USER=email@gmail.com
GMAIL_APP_PASSWORD=

# Autres configurations
FRONTEND_URL=http://localhost:3000